<page class="a4" class="resumeLargeName">
    <div id="resumeLargeName" class="resume">
        <div class="top"></div>

        <div class="bottom">
            <div class="first name"> {{person.name.first}}.
            </div>
            <div class="last name"> {{person.name.last}}.
            </div>
        </div>
    </div>
</page>
