<page class="a4 resume4">

    <div id="resume4" class="resume">
        <div class="resume-header">
            <div class="box"></div>
            <div class="person-header">
                <div class="img"></div>
                <div class="person-wrapper">
                    <div class="person">
                        <div class="name">{{person.name.first}} {{person.name.last}}</div>
                        <div class="position">{{person.position}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="resume-content experience">

            <div class="card">
                <div class="card-header">
                    <i class="material-icons">work</i>
                    <h3>Experience</h3>
                </div>
                <div class="card-content">

                    {{#person.experience}}
                        <div class="experience-block">
                            <div class="row">
                                <span class="job-title"> {{position}} - </span>
                                <span class="company"> {{company}} </span>
                            </div>
                            <div class="row">

                                <span class="time-period"> {{timeperiod}}</span>
                                <span class="job-description">, {{description}} </span>
                            </div>
                        </div>
                    {{/person.experience}}
                </div>
            </div>

            <div class="card skills">
                <div class="card-header">
                    <i class="material-icons">computer</i>
                    <h3>Skills</h3>
                </div>
                <div class="card-content">
                    <div class="wrapper">
                        {{#person.skills}}
                            <span class="skill"><i class="material-icons">check</i> {{name}}</span>
                        {{/person.skills}}
                    </div>
                </div>
            </div>

            <div class="card-row">
                <div class="card education half">
                    <div class="card-header">
                        <i class="material-icons">school</i>
                        <h3>Education</h3>
                    </div>
                    <div class="card-content">
                        {{#person.education}}
                            <div class="education-block">
                                <div class="row">
                                    <span class="degree">{{degree}}</span>
                                </div>
                                <div class="row">
                                    <span class="degree-description">{{description}}</span>
                                </div>
                            </div>
                        {{/person.education}}
                    </div>
                </div>
                <div class="card contact half">
                    <div class="card-header">
                        <i class="material-icons">perm_contact_calendar</i>
                        <h3>Contact</h3>
                    </div>
                    <div class="card-content">
                        <a href="mailto:{{person.contact.email}}"> {{person.contact.email}}</a>
                        <br>
                        <a href="tel:{{person.contact.phone}}">{{person.contact.phone}}</a>
                        <br>
                        <span>{{person.contact.street}}, {{person.contact.city}}</span>
                        <br>
                        <a href="{{person.contact.website}}">
                          {{person.contact.website}}
                      </a>
                        <br>
                        <a href="{{person.contact.github}}">
                          {{person.contact.github}}
                      </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</page>
