#readme {
    h1 {
        background: #4B5B6E;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
        padding-left: 10%;
    }

    a {
        color: #E77171;
        text-decoration: none;

        &:focus,
        &:hover {
            color: #E77171;
            text-decoration: none;
        }
    }

    h2,
    p,
    ul {
        padding: 10%;
    }

    hr {
        width: 80%;
    }
}
