{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": [ "istanbul" ]
    }
  }
}
