<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style.min.css" rel="stylesheet">
    <title>Best resume ever</title>
</head>

<body>
    <div class="index-page">
        <header>
            <a href="https://github.com/SalamiMitPizza/best-resume-ever" target="_blank">
                <div id="forkme">View on Github <i class="fa fa-github"></i></div>
            </a>
            <div class="content">
                <div class="logo">
                    <i class="fa fa-briefcase"></i>
                    <h1>
                  best-resume-ever
                </h1>
                </div>
            </div>
        </header>
        <main>
            <section class="resume-collection">
                <h3>Resumes</h3>
                <p>Click one of the resumes to preview.</p>
                <a class="resume" href="/resume-1">
                    <img src="/resume-1/resume-1.png" />
                    <span class="resume-title">Resume 1</span>
                </a>
                <a class="resume" href="/resume-2">
                    <img src="/resume-2/resume-2.png" />
                    <span class="resume-title">Resume 2</span>
                </a>
            </section>
        </main>
    </div>

</body>

</html>
