<page class="a4 resume4">
    <div id="resume5" autofont>
        <div class="introduction dp3">
            <div class="wrapper">
                <div class="img dp4">
                </div>
                <div class="text">
                    <div class="name">{{person.name.first}} {{person.name.last}}</div>
                    <div class="position">{{person.position}}</div>
                </div>
            </div>

        </div>
        <div class="resume-content">
            <div class="card-row">
                <div class="card dp1">
                    <div class="content">
                        <div class="title dp3">Education</div>
                        <div class="text">
                            {{#person.education}}
                                <div class="row line">
                                    <div class="degree">{{degree}}</div>
                                    <div class="degree-description">{{description}}</div>
                                </div>
                            {{/person.education}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-row multiple">
                <div class="card dp1">
                    <div class="content ">
                        <div class="title dp3">Experience</div>
                        <div class="text">
                            <div class="timeline">
                                {{#person.experience}}
                                    <div class="experience-block">
                                        <div class="circle dp1"></div>
                                        <div class="job dp1">
                                            <div class="job-row">
                                                <span class="jobtitle">{{position}}</span>
                                            </div>
                                            <div class="job-row">
                                                <span class="company">{{company}}, </span>
                                                <span class="timeperiod">{{timeperiod}}, </span>
                                                <span class="description">{{description}}</span>
                                            </div>
                                        </div>
                                    </div>

                                {{/person.experience}}

                                <div class="line"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card dp1">
                    <div class="content">
                        <div class="title dp3">Skills</div>
                        <div class="text">
                            <div class="row">
                                <div class="chips">
                                    {{#person.skills}}
                                        <div class="chip">{{name}}</div>
                                    {{/person.skills}}
                                </div>
                                <p class="skill-desc">{{person.skillDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume-footer">
            <div class="contact">
                <a href="mailto:{{person.contact.email}}">{{person.contact.email}}</a>
                <i class="fa fa-circle"></i> {{person.contact.phone}}
                <i class="fa fa-circle"></i> {{person.contact.street}}, {{person.contact.city}}
                <i class="fa fa-circle"></i>
                <a href="{{person.contact.website}}">{{person.contact.website}}</a>
                <i class="fa fa-circle"></i>
                <a href="https://github.com/{{person.contact.github}}">https://github.com/{{person.contact.github}}</a>

            </div>
        </div>

    </div>
</page>
