#resume1 {
    body {
        font-family: 'Source Sans Pro', sans-serif;
    }

    h3 {
        margin-bottom: 0;
    }

    a,
    a:focus,
    a:hover,
    a:visited {
        color: #616161;
    }

    span {
        display: inline-block;
    }

    .row {
        width: 100%;
    }

    .half {
        width: 44%;
    }

    .left {
        float: left;
        text-align: right;
        padding-left: 4%;
        padding-right: 2%;
    }

    .right {
        float: right;
        text-align: left;
        padding-right: 4%;
        padding-left: 2%;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .text-center {
        text-align: center;
    }

    .name {
        border: 1px solid black;
        text-transform: uppercase;
        padding: 10px 20px;
        margin-top: 70px;
        margin-bottom: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 5px;
    }

    .position {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: smaller;
        color: #757575;
        margin-bottom: 40px;
    }

    .image {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .contact,
    .experience,
    .experience-block {
        width: 100%;
    }

    .experience-block span {
        width: 100%;

        &.company,
        &.degree {
            font-weight: bold;
            padding-bottom: 10px;
            padding-top: 20px;
            color: #424242;
        }
    }

    .education-block span.degree-description,
    .experience-block span.job-description,
    .experience-block span.time-period,
    .skills-other {
        color: #616161;
    }

    .experience-block span.job-title {
        font-style: italic;
        color: #616161;
    }

    .skill-block {
        display: flex;
        padding-bottom: 10px;
    }

    .skill-block .skill {
        width: 100px;
        color: #616161;
    }

    .skill-block .skill-bar {
        background: #E0E0E0;
        overflow: hidden;
        height: 8px;
        flex: 1;
        border-radius: 3px;
        margin-top: 6.5px;
        position: relative;
    }

    .skill-bar .level {
        background: #757575;
        height: 100%;
    }

    .skills {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact table {
        text-align: right;
        float: right;
        margin-top: 20px;
    }

    .contact table i {
        padding: 5px;
        color: #616161;
    }

    .contact table tr td:nth-child(2) {
        vertical-align: top;
    }

    .contact table {
        color: #616161;
    }
}
