<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style.min.css" rel="stylesheet">
    <script src="/reload/reload.js"></script>
    <title>Best resume ever</title>
    <script src="//127.0.0.1:35729/livereload.js"></script>
</head>

<body>
    <div class="index-page">
        <header>
            <a href="https://github.com/SalamiMitPizza/best-resume-ever" target="_blank">
                <div id="forkme">View on Github <i class="fa fa-github"></i></div>
            </a>
            <div class="content">
                <div class="logo">
                    <i class="fa fa-briefcase"></i>
                    <h1>
                  best-resume-ever
                </h1>
                </div>
            </div>
        </header>
        <main>
            <section class="resume-collection">
                <h3>Resumes</h3>
                <p>Click one of the resumes to preview.</p>
                {{#resumes}}
                    <a class="resume" href="/{{path}}">
                        <img src="/preview/{{path}}.png" />
                        <span class="resume-title">{{name}}</span>
                    </a>
                {{/resumes}}
            </section>
        </main>
    </div>

</body>

</html>
