<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/style.min.css" rel=" stylesheet">
    <link href="/styles/{{style}}.min.css" rel=" stylesheet">
    <title> Best resume ever </title>
</head>

<body>

    {{>content}}

    <script src="/javascript.js"></script>
</body>

</html>
