<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style.min.css" rel=" stylesheet">
    <title> Best resume ever </title>
</head>

<body>


    {{>content}}
    <script>
        var userAgent = navigator.userAgent;
        if (userAgent.indexOf('PhantomJS') < 0) document.getElementsByTagName('html')[0].style['zoom'] = 1;
    </script>
</body>

</html>
