  @page {
    size:A4;
    margin:0;
  }
  html,body{
    width: 210mm;
    height: 297mm;
    font-size: 11px;
    background: #FFF;
    overflow:visible;
  }
  body {
    display: table;
    table-layout: fixed;
  }
  html,body,.page-wrapper,.page{padding:0;margin:0;page-break-after:always}
  .page{width:210mm}
  .page,.page-wrapper,.page-inner{height:297mm}
  .section-content{padding-left:0!important}
  body,.page-wrapper{padding:0!important}