<page class="a4">
    <div id="resume2" class="resume" autofont>
        <div class="top-row">
            <span class="person-name">  {{person.name.first}}  {{person.name.last}}    </span>
            <span class="person-position">  {{person.position}}    </span>
        </div>
        <div class="left-col">
            <div class="person-image">
                <div class="image-centerer">
                    <div class="img"></div>
                </div>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <div class="contact-row">
                    <a href="mailto:{{person.contact.email}}">{{person.contact.email}}</a>
                </div>
                <div class="contact-row dots">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="contact-row">
                    <a href="tel:{{person.contact.phone}}">{{person.contact.phone}}</a>
                </div>
                <div class="contact-row dots">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="contact-row">
                    {{person.contact.street}} <br> {{person.contact.city}}
                </div>
                <div class="contact-row dots">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="contact-row">
                    <a href="https://github.com/{{person.contact.github}}">https://github.com/{{person.contact.github}}</a>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="experience">
                <h3>Experience</h3>
                {{#person.experience}}
                    <div class="experience-block">
                        <div class="row">
                            <span class="company"> {{company}} -</span>
                            <span class="job-title"> {{position}} </span>
                        </div>
                        <div class="row">
                            <span class="time-period"> {{timeperiod}}</span>
                        </div>
                        <div class="row">

                            <span class="job-description"> {{description}} </span>
                        </div>
                    </div>
                {{/person.experience}}
            </div>
            <div class="education">
                <h3>Education</h3>
                {{#person.education}}
                    <div class="education-block">
                        <div class="row">
                            <span class="degree">{{degree}}</span>
                        </div>
                        <div class="row">
                            <span class="degree-description">{{description}}</span>
                        </div>
                    </div>
                {{/person.education}}
            </div>
            <div class="skills-block">
                <h3>Skills</h3>

                <div class="skills">
                    {{#person.skills}}
                        <div class="skill">
                            <span class="skill-name">{{name}}</span>
                        </div>
                    {{/person.skills}}
                </div>

                <span class="skills-other"> {{person.skillDescription}} </span>
            </div>
        </div>
    </div>

    </div>
</page>
</div>
</page>
