<page class="a4" id="material-blue">
    <div class="leftCol m_box">
        <div class="heading" id="myselfpic">
            <div class="title">
                <h2>{{person.name.first}}  {{person.name.last}}</h2>
                <div>{{person.position}}</div>
            </div>
        </div>

        <div class="item">
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="text">
                <ul>
                    <li>Born {{person.birth.year}} in {{person.birth.location}}</li>
                </ul>
            </div>
        </div>

        <div class="item">
            <div class="icon">
                <i class="fa fa-location-arrow"></i>
            </div>
            <div class="text">
                <ul>
                    <li>{{person.contact.street}}</li>
                    <li>{{person.contact.city}}</li>
                </ul>
            </div>
        </div>

        <a href="tel:{{person.contact.phone}}">
            <div class="item">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="text">
                    <h4>{{person.contact.phone}}</h4>
                    <span>mobil</span>
                </div>
            </div>
        </a>

        <a href="mailto:{{person.contact.email}}">
            <div class="item">
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="text">
                    <h4>{{person.contact.email}}</h4>
                    <span>private</span>
                </div>
            </div>
        </a>

        <a href="https://github.com/{{person.contact.github}}" target="_blank">
            <div class="item">
                <div class="icon">
                    <i class="fa fa-github"></i>
                </div>
                <div class="text">
                    <h4>@{{person.contact.github}}</h4>
                    <span>https://github.com/{{person.contact.github}}</span>
                </div>
            </div>
        </a>

        <div class="item last">
            <div class="icon">
                <i class="fa fa-cogs"></i>
            </div>
            <div class="text">
                <h3>Skills</h3>
                <div style="width: 100%; height: 15px;"></div>
            </div>
            {{#person.skills}}
                <div class="skill">
                    <div class="right">
                        <span>{{name}}</span>
                        <div class="progress">
                            <div class="determinate" style="width: {{level}}%;">
                                <i class="fa fa-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {{/person.skills}}
        </div>
    </div>

    <div class="rightCol">

        <div class="block">
            <div class="icon">
                <i class="fa fa-suitcase"></i>
            </div>
            <div class="content">
                <h2>Experience</h2>
                {{#person.experience}}
                    <div class="item">
                        <h3>{{position}} - {{company}}</h3>
                        <span>{{timeperiod}}</span>
                        <p>
                            {{description}}
                        </p>
                    </div>
                {{/person.experience}}
            </div>
        </div>

        <div class="block">
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="content">
                <h2>Education</h2>

                {{#person.education}}
                    <div class="item">
                        <h3>{{degree}}</h3>
                        <span>{{timeperiod}}</span>
                        <p> {{description}} </p>
                    </div>
                {{/person.education}}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

</page>
