<page class="a4">
    <div id="resume1" class="resume" autofont>
        <div class="row text-center">
            <span class="name">{{person.name.first}}  {{person.name.last}}</span>
        </div>
        <div class="row text-center">
            <p class="position center">{{person.position}}</p>
        </div>
        <div class="row">
            <div class="image center">
                <div class="img"></div>
            </div>
        </div>
        <div class="left half">
            <div class="experience">
                <h3>Experience</h3>
                {{#person.experience}}
                    <div class="experience-block">
                        <span class="company"> {{company}} </span>
                        <span class="job-title"> {{position}} </span>
                        <span class="time-period"> {{timeperiod}}</span>
                        <span class="job-description"> {{description}} </span>
                    </div>
                {{/person.experience}}
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <table>
                    <tr>
                        <td><a href="mailto:{{person.contact.email}}">{{person.contact.email}}</a></td>
                        <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td><a href="tel:{{person.contact.phone}}">{{person.contact.phone}}</a></td>
                        <td><i class="fa fa-phone" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>{{person.contact.street}} <br> {{person.contact.city}}</td>
                        <td><i class="fa fa-home" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td><a href="{{person.contact.website}}">{{person.contact.website}}</a></td>
                        <td><i class="fa fa-globe" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td><a href="https://github.com/{{person.contact.github}}">https://github.com/{{person.contact.github}}</a></td>
                        <td><i class="fa fa-github" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="right half">
            <div class="education">
                <h3>Education</h3>
                {{#person.education}}
                    <div class="education-block">
                        <span class="degree">{{degree}}</span>
                        <span class="degree-description">{{description}}</span>
                    </div>
                {{/person.education}}
            </div>
            <h3>Skills</h3>
            <div class="skills">
                {{#person.skills}}
                    <div class="skill-block">
                        <span class="skill">{{name}}</span>
                        <div class="skill-bar">
                            <div style="width: {{level}}%" class="level"> </div>
                        </div>
                    </div>
                {{/person.skills}}
            </div>
            <span class="skills-other"> {{person.skillDescription}} </span>
        </div>
    </div>

    </div>
</page>
